<div class="logOrg">
  <h2> <code>Welcome to StreamShare!</code></h2>
  <a mat-raised-button color='accent'
    href="https://accounts.spotify.com/authorize?client_id=c3af92aa082542ba8d9c496fbee25c9e&response_type=code&redirect_uri=http%3A%2F%2F172.17.43.199%3A8000%2Fplayer">Login
    with Spotify
  </a>
  <a mat-raised-button color='accent'
    href="https://accounts.spotify.com/authorize?client_id=c3af92aa082542ba8d9c496fbee25c9e&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fplayer">Login
    with Spotify LocalHost
  </a>
</div>
