<button class="sideNavOpenButton" *ngIf="!showFiller" type="button" mat-button
  (click)="drawer.toggle(); showFiller = !showFiller">
  |||
</button>
<mat-drawer-container class="nav-container">
  <mat-drawer #drawer class="sidenav" mode="side">
    <button *ngIf="showFiller" type="button" mat-button (click)="drawer.toggle(); showFiller = !showFiller">
      |||
    </button>
    <h3>Spotify Playlists</h3>
    <ul>
      <li><button mat-button color='primary'>Running</button></li>
      <li><button mat-button color color='primary'>Party</button></li>
      <li><button mat-button color color='primary'>Relaxing Music</button></li>
    </ul>
    <button mat-raised-button color='accent'>Add new +</button>
  </mat-drawer>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
